.menu
  .menu-item(onClick='showUser()') User
  .menu-item(onClick='showSessions()') Sessions
  .menu-item(onClick='showDevices()') Devices
  .menu-item(onClick='showLive()') Live Data  
.submenu
  .menu-item.fixed80#dd -- m
  .menu-item.fixed80#speed --:--:-- m/s
  .menu-item.fixed80#ds --:--:--
  .menu-item.fixed80#ticks --:--:--
  .menu-item.fixed80#avg_speed --:--:--
  .menu-item.fixed80#max_speed --:--:--
  .menu-item.fixed40#startstop.button  -
  .menu-item.fixed120#name -  