HTML {
	margin: 0px;
	padding: 0px;
}

BODY {
	background-color: white;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgb(20, 48, 63);
	font-size: 35pt;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	flex-wrap: nowrap;
	overflow: hidden;
}

@media (max-width: 440px) {
  BODY {
	font-size: 16pt;
  }	
}

.header {
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	flex-wrap: nowrap;
	background-color: #007aff;
	padding: 40px 10px;
	color: white;
	font-weight: 400;
}

.header .icon {
	display: flex;
	font-size: 1.2em;
	flex: 0 1 auto;
	padding: 8px 30px 8px 20px;
}


.header .title {
	display: flex;
	font-size: 1.3em;
	flex: 1 0 auto;
	flex-direction: column;
}

#profileimage {
	display: flex;
	flex: 0 0 200px;
	width: 200px;
	height: 200px;	
    border-radius:50%;
    overflow:hidden;
    margin-right: 1.3em;
}

H1 {
	font-size: 1.0em;
	margin: 0px;
	padding-bottom: 0px;
}

H2 {
	font-size: 0.7em;
	margin: 0px;
	padding-top: 5px;
	font-weight: 300;
}

.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 0 0 100%;
	font-weight: 600;
	background-color: white;
	font-size: 2.8em;
}

.submenu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-weight: 300;
	background-color: #90dc4e;
	font-size: 1.5em;
	margin-bottom: 1em;
	color: white;
	padding: 5px 0px;
}

.menu-item {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: nowrap;
  	justify-content: center;
	padding: 1px 10px;
	cursor: pointer;
	white-space: nowrap;
  	align-items: center;
}

.menu-item:HOVER {
	background-color: #efefef;
}

.menu-item A {
	text-decoration: none;
	color: #3C4941;
}
	
.column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	font-size: 2em;
}

.clickable {
	cursor: pointer;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	font-size: 1.6em;
	justify-content: space-between;
	padding: 0.3em 0px;
}

.row:first-child {
	margin-top: 1em;
}

.headline {
	padding-bottom: 2px;
	border-bottom: 1px solid white;
	margin-bottom: 5px;
}

.item {
	flex: 1 1 auto;
	margin: 0px auto;
  	justify-content: center;
	white-space: nowrap;
  	align-items: center;
}

.item:last-child {
	padding-right: 60px;
	text-align: right;
}

.item:first-child {
	padding-left: 60px;
	text-align: left;
}

.item a {
	text-decoration: none;
	color: inherit;
}

.fixed20 {
	max-width: 20px;
}

.fixed40 {
	max-width: 40px;
}

.fixed60 {
	max-width: 60px;
}

.fixed80 {
	max-width: 80px;
	min-width: 80px;
	flex-grow: 0;
}

.fixed120 {
	max-width: 120px;
}

.fixed180 {
	max-width: 180px;
}

.small {
	color: #999999;
	font-size: 0.5em;
}

.big {
	font-size: 3em;
}

.middle {
	font-size: 1.5em;
}

.center {
	text-align: center;
}

.button {
	cursor: pointer;
}

.right {
	align-self: flex-end;
}

.livecontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column nowrap;
   align-content: center;
}

.livetile {
	display: flex;
	flex: 1 1 auto;
	font-size: 2em;
	padding: 30px 10px;
}

.figure{
    width:73px;
    height:73px;
    border-radius:50%;
    overflow:hidden;
}

INPUT {
	font-size: 0.8em;
	width: 100%;
	border-radius: 25px;
	border: 2px solid #007aff;
	padding: 25px;
}

BUTTON {
	font-size: 0.8em;
	background-color: #007aff;
	border-radius: 25px;
	color: white;
	width: 100%;
	border: None;
	padding: 25px;
}

.label {
	font-size: 0.6em;
	color: #666;
}

.bullet {
	flex-grow: 0;
	padding-right: 0.3em;
	width: 1em;
}