HTML {
	margin: 0px;
	padding: 0px;
}

BODY {
	background-color: #3C4941;
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 30pt;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	flex-wrap: nowrap;
	overflow: hidden;
}

.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 0 0 100%;
	font-weight: 600;
	background-color: white;
	font-size: 2.8em;
}

.submenu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-weight: 600;
	background-color: #ffc20c;
	font-size: 0.7em;
}

.menu-item {
	display: flex;
	flex: 0 0 auto;
	padding: 1px 10px;
	color: #3C4941;
	cursor: pointer;
	white-space: nowrap;
}

.menu-item:HOVER {
	background-color: #efefef;
}

.menu-item A {
	text-decoration: none;
	color: #3C4941;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	padding: 0px 20px;
	font-size: 2em;
}

.row:HOVER {
	color: black;
	background-color: white;
	cursor: pointer;
}

.headline {
	padding-bottom: 2px;
	border-bottom: 1px solid white;
	margin-bottom: 5px;
}

.fixed20 {
	flex: 0 0 20px;
}

.fixed40 {
	flex: 0 0 40px;
}

.fixed60 {
	flex: 0 0 60px;
}

.fixed80 {
	flex: 0 0 80px;
}

.fixed120 {
	flex: 0 0 120px;
}

.fixed180 {
	flex: 0 0 180px;
}

.item {
	flex: 1 1 auto;
}

.button {
	cursor: pointer;
}

.right {
	align-self: flex-end;
}

.small {
	font-size: 0.5em;
}

.livecontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column nowrap;
   align-content: center;
}

.livetile {
	display: flex;
	flex: 1 1 auto;
	font-size: 2em;
	padding: 30px 10px;
}

