HTML {
	height:100%;
	margin: 0px;
	padding: 0px;
	
}
BODY {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	display: table;
}

.row {
	display: table-row;	
}
.cell {
	display: table-cell;
}

.page-left {
	width:200px;
    vertical-align: top;
    border-right: 1px solid white;
}

.page-right {
	width:200px;
}

.page-center {
	padding: 10px 0px;
}

.page-head {
	height: 200px;
	background-color: white;
}

.page-footer {
	height: 80px;
	background-color: white;
}

.page-body {
	height: 100%;
	background-color: #3b84c0;
}

.inner {
	padding: 35px 0px;
	font-size: 1.2em;
	font-weight: lighter;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

B.inner {
	font-weight: bold;
}

H1{
	font-size: 2.6em;
	color: #404040;
	margin-bottom: 0px;
}

H2{
	font-size: 1.6em;
	color: #848484;
	margin-top: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}


.info {
	font-size: 0.8em;
	color: #999;
}

#react {
    padding: 0px 0px;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}


.opp-table {
	display: table;
	width: 100%;
}

.opp-table UL {
	display: table-row;
}

.opp-table UL LI {
	display: table-cell;
	font-size: 0.7em;
	font-weight: 100;
	border-bottom: 0.5px solid aliceblue;
    padding: 8px 15px;
}

.opp-table UL LI:HOVER {
    color:#3b84c0;
    background-color: aliceblue;
    cursor: pointer;
}

.opp-table UL LI B {
    font-size: 1.2em;
    font-weight: bold;
}


