
each device in devices
  .row
    .item.clickable(onclick='selectDevice(' + device.id + ')')
      div #{device.human}
      div.small #{device.mac}
    
    if (user.isadmin == 1)
      .item.clickable(onclick='showDeviceForm(' + device.id + ')')
        i(class="fa fa-edit",aria-hidden="true")
    else
     .item   

