.row.clickable(onClick='showHofMaxSpeed()')  
  .item 
    i(class="fa fa-trophy",aria-hidden="true")
    span &nbsp;Top Speed

.row.clickable(onClick='showHofDistance()')  
  .item 
    i(class="fa fa-trophy",aria-hidden="true")
    span &nbsp;Gesamtstrecke