include include/menu.pug  
div.row(onClick='showHofMaxSpeed()')  
  .item 
    i(class="fa fa-trophy",aria-hidden="true")
    span &nbsp;Top Speed

div.row(onClick='showHofDistance()')  
  .item 
    i(class="fa fa-trophy",aria-hidden="true")
    span &nbsp;Gesamtstrecke
