include include/menu.pug  
.row  
  .item#name -
.row  
  .item Geschwindigkeit
  .item#speed &nbsp
.row
  .item Zeit  
  .item#ds &nbsp
.row
  .item Distanz  
  .item#dd &nbsp
.row  
  .item#startstop [-]
      