.row  
  .item
    .center#speed 0
    .small.center Tempo [m/s]
  .item
    .center#dd 0
    .small.center Strecke
.row
  .item.big 
    .center#ds 00:00:00
    .small.center Zeit
.row  
  .item#startstop(style="text-align:center") [-]
      