div.row(onClick='showHallOfFame()')  
  .item.bullet 
    i(class="fa fa-trophy",aria-hidden="true")
  .item Bestenliste
  .item &nbsp;
div.row(onClick='showUser()')  
  .item.bullet
    i(class="fa fa-user",aria-hidden="true") 
  .item Sportler
  .item &nbsp;
div.row(onClick='showDevices()')  
  .item
    i(class="fa fa-rocket",aria-hidden="true")
    span &nbsp;Gerät
div.row(onClick='showLive()')
  .item
    i(class="fa fa-heartbeat",aria-hidden="true")
    span &nbsp;Live
div.row(onClick='showSessions()')
  .item
    i(class="fa fa-history",aria-hidden="true")
    span &nbsp;Workouts
div.row
  .item
    a(href="/profile") 
      i(class="fa fa-user",aria-hidden="true")
      span &nbsp;Profile
div.row
  .item
    a(href="/logout") 
      i(class="fa fa-power-off",aria-hidden="true")
      span &nbsp;Logout

