.row.clickable(onClick='showHallOfFame()')  
  .item.bullet 
    i(class="fa fa-trophy",aria-hidden="true")
  .item Bestenliste
  .item &nbsp;
.row.clickable(onClick='showUser()')  
  .item.bullet
    i(class="fa fa-user",aria-hidden="true") 
  .item Sportler
  .item &nbsp;
.row.clickable(onClick='showDevices()')  
  .item.bullet
    i(class="fa fa-rocket",aria-hidden="true")
  .item Gerät
  .item &nbsp;
.row.clickable(onClick='showLive()')
  .item.bullet
    i(class="fa fa-heartbeat",aria-hidden="true")
  .item Live
  .item &nbsp;
.row.clickable(onClick='showSessions()')
  .item.bullet
    i(class="fa fa-history",aria-hidden="true")
  .item Meine Workouts
  .item &nbsp;
div.row
  .item.bullet
    a(href="/profile") 
      i(class="fa fa-user",aria-hidden="true")
  .item 
    a(href="/profile") Profile
  .item &nbsp;
div.row
  .item.bullet
    a(href="/logout") 
      i(class="fa fa-power-off",aria-hidden="true")  
  .item
    a(href="/logout") Logout
  .item &nbsp;


