//- include include/menu.pug  
each user in users
  div.row(onClick='selectUser(' + user.id + ')', style='cursor:pointer')  
    div.item 
      div #{user.firstname} #{user.lastname} 
      .small #{user.id} / #{user.login} 
